<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">
	<!-- ===========Console Appender========= -->
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Append" value="true" />
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%p][%d{yyyy-MM-dd HH\:mm\:ss,SSS}][%c][%t]%m%n" />
        </layout>        
    </appender>
    
	<appender name="run.file"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="DatePattern" value="'.'yyyy-MM-dd"></param>	
		<param name="Append" value="true" />
		<!-- <param name="File" value="${catalina.base}/logs/shsnc_mvc.log" /> -->
		<param name="File" value="../shsnclogs/shsnc_mvc.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%p][%d{yyyy-MM-dd HH\:mm\:ss,SSS}][%c]%m%n" />
		</layout>
	</appender>
	
	<appender name="dlc.run"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="DatePattern" value="'.'yyyy-MM-dd"></param>	
		<param name="Append" value="true" />
		 <param name="File" value="${catalina.base}/logs/shsnc_dcl.log" /> 
		<!-- <param name="File" value="d:/shsnc_dlc.log" /> -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%p][%d{yyyy-MM-dd HH\:mm\:ss,SSS}][%c]%m%n" />
		</layout>
	</appender>
	
	<logger name="DCL_RUN" additivity="false">
        <level value="debug" />
        <appender-ref ref="dlc.run" />
    </logger>
	
	<appender name="aud.run"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="DatePattern" value="'.'yyyy-MM-dd"></param>	
		<param name="Append" value="true" />
		<!-- <param name="File" value="${catalina.base}/logs/shsnc_dcl.log" /> -->
		<param name="File" value="../shsnclogs/shsnc_aud.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%p][%d{yyyy-MM-dd HH\:mm\:ss,SSS}][%c]%m%n" />
		</layout>
	</appender>
	
	<logger name="AUD_RUN" additivity="false">
        <level value="debug" />
        <appender-ref ref="aud.run" />
    </logger>	
	
	<!-- Root Message -->
	<root>
		<priority value="INFO" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="run.file" />
	</root>
	
</log4j:configuration>
